USE [DrugUsePreventionDB_V2]
GO
/****** Object:  Schema [HangFire]    Script Date: 7/11/2025 2:16:42 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerOptions]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[OptionText] [nvarchar](max) NOT NULL,
	[ScoreValue] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AnswerOptions] PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ConsultantID] [int] NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ScheduleIds] [nvarchar](max) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentResults]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AssessmentID] [int] NOT NULL,
	[CourseID] [int] NULL,
	[ResultName] [nvarchar](255) NULL,
	[Score] [float] NOT NULL,
	[TakeTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AssessmentResults] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentID] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AssessmentType] [nvarchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Assessments] PRIMARY KEY CLUSTERED 
(
	[AssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Thumbnail] [nvarchar](max) NULL,
	[AuthorAvatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Blogs] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateID] [int] IDENTITY(1,1) NOT NULL,
	[CertificateName] [nvarchar](255) NOT NULL,
	[DateAcquired] [datetime2](7) NULL,
 CONSTRAINT [PK_Certificates] PRIMARY KEY CLUSTERED 
(
	[CertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommunicationPrograms]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommunicationPrograms](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Location] [nvarchar](255) NULL,
 CONSTRAINT [PK_CommunicationPrograms] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantAppointmentEvaluations]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantAppointmentEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[EvaluationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConsultantAppointmentEvaluations] PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultants]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultants](
	[ConsultantID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CertificateID] [int] NULL,
	[Specialty] [nvarchar](255) NULL,
	[Degree] [nvarchar](255) NULL,
	[Experience] [nvarchar](max) NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[GoogleMeetLink] [nvarchar](255) NULL,
 CONSTRAINT [PK_Consultants] PRIMARY KEY CLUSTERED 
(
	[ConsultantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantSchedules]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ConsultantID] [int] NOT NULL,
	[DayOfWeek] [nvarchar](50) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_ConsultantSchedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseAssessments]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssessments](
	[CourseID] [int] NOT NULL,
	[AssessmentID] [int] NOT NULL,
 CONSTRAINT [PK_CourseAssessments] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC,
	[AssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseRegistrations]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseRegistrations](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[RegisterTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CourseRegistrations] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[AgeMin] [int] NOT NULL,
	[AgeMax] [int] NULL,
	[Capacity] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseVideos]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseVideos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[VideoUrl] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_CourseVideos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NULL,
	[AppointmentID] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentDate] [datetime2](7) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[TransactionID] [nvarchar](100) NULL,
	[RetryCount] [int] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramParticipations]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramParticipations](
	[UserID] [int] NOT NULL,
	[ProgramID] [int] NOT NULL,
	[JoinTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProgramParticipations] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[SurveyID] [int] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NULL,
	[AssessmentID] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurveyResponses]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyResponses](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SurveyID] [int] NOT NULL,
	[ProgramID] [int] NULL,
	[ResponseData] [nvarchar](max) NULL,
	[SubmitTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SurveyResponses] PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surveys]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surveys](
	[SurveyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[AuthorID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Surveys] PRIMARY KEY CLUSTERED 
(
	[SurveyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourseProgresses]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourseProgresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_UserCourseProgresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HangFire_Counter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 7/11/2025 2:16:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250602060849_init', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250606035952_update', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250606051112_update1', N'9.0.5')
GO
SET IDENTITY_INSERT [dbo].[AnswerOptions] ON 

INSERT [dbo].[AnswerOptions] ([OptionID], [QuestionID], [OptionText], [ScoreValue], [IsDeleted]) VALUES (1002, 1006, N'Yes', 2, 1)
INSERT [dbo].[AnswerOptions] ([OptionID], [QuestionID], [OptionText], [ScoreValue], [IsDeleted]) VALUES (1003, 1006, N'No', 0, 1)
INSERT [dbo].[AnswerOptions] ([OptionID], [QuestionID], [OptionText], [ScoreValue], [IsDeleted]) VALUES (1004, 1007, N'No', 0, 1)
SET IDENTITY_INSERT [dbo].[AnswerOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [UserID], [ConsultantID], [StartDateTime], [EndDateTime], [Price], [Status], [Note], [CreatedAt], [UpdatedAt], [ScheduleIds]) VALUES (1, 3, 1, CAST(N'2025-07-05T14:00:00.0000000' AS DateTime2), CAST(N'2025-07-05T15:00:00.0000000' AS DateTime2), CAST(50.00 AS Decimal(10, 2)), N'PENDING_PAYMENT', NULL, CAST(N'2025-06-24T14:26:43.9433333' AS DateTime2), CAST(N'2025-06-24T14:26:43.9433333' AS DateTime2), NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [UserID], [ConsultantID], [StartDateTime], [EndDateTime], [Price], [Status], [Note], [CreatedAt], [UpdatedAt], [ScheduleIds]) VALUES (2, 5, 2, CAST(N'2025-07-01T13:00:00.0000000' AS DateTime2), CAST(N'2025-07-01T14:00:00.0000000' AS DateTime2), CAST(9999.00 AS Decimal(10, 2)), N'PENDING_PAYMENT', N'string', CAST(N'2025-06-24T09:16:31.0781597' AS DateTime2), CAST(N'2025-06-24T09:16:31.0781599' AS DateTime2), NULL)
INSERT [dbo].[Appointments] ([AppointmentID], [UserID], [ConsultantID], [StartDateTime], [EndDateTime], [Price], [Status], [Note], [CreatedAt], [UpdatedAt], [ScheduleIds]) VALUES (3, 5, 2, CAST(N'2025-07-01T14:00:00.0000000' AS DateTime2), CAST(N'2025-07-01T15:00:00.0000000' AS DateTime2), CAST(9999.00 AS Decimal(10, 2)), N'PENDING_PAYMENT', N'string', CAST(N'2025-06-24T09:22:11.1756657' AS DateTime2), CAST(N'2025-06-24T09:22:11.1756660' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentResults] ON 

INSERT [dbo].[AssessmentResults] ([ResultID], [UserID], [AssessmentID], [CourseID], [ResultName], [Score], [TakeTime]) VALUES (3, 3, 7, NULL, N'Bạn đã hoàn thành bài đánh gia với 4 điểm!', 4, CAST(N'2025-06-12T21:44:45.4586169' AS DateTime2))
INSERT [dbo].[AssessmentResults] ([ResultID], [UserID], [AssessmentID], [CourseID], [ResultName], [Score], [TakeTime]) VALUES (4, 2, 7, NULL, N'Bạn đã hoàn thành bài đánh gia với 2 điểm!', 2, CAST(N'2025-06-16T00:44:18.6419825' AS DateTime2))
INSERT [dbo].[AssessmentResults] ([ResultID], [UserID], [AssessmentID], [CourseID], [ResultName], [Score], [TakeTime]) VALUES (5, 2, 7, NULL, N'Bạn đã hoàn thành bài đánh gia với 4 điểm!', 4, CAST(N'2025-06-16T00:50:17.5845965' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AssessmentResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Assessments] ON 

INSERT [dbo].[Assessments] ([AssessmentID], [AssessmentName], [Description], [AssessmentType], [IsDeleted]) VALUES (7, N'Phòng chống ma túy', N'dành cho học sinh', N'Crafft', 1)
INSERT [dbo].[Assessments] ([AssessmentID], [AssessmentName], [Description], [AssessmentType], [IsDeleted]) VALUES (8, N'string', N'string', N'Crafft', 1)
INSERT [dbo].[Assessments] ([AssessmentID], [AssessmentName], [Description], [AssessmentType], [IsDeleted]) VALUES (9, N'string', N'string', N'Crafft', 1)
SET IDENTITY_INSERT [dbo].[Assessments] OFF
GO
SET IDENTITY_INSERT [dbo].[Certificates] ON 

INSERT [dbo].[Certificates] ([CertificateID], [CertificateName], [DateAcquired]) VALUES (1, N'string', CAST(N'2025-07-10T08:29:05.1630000' AS DateTime2))
INSERT [dbo].[Certificates] ([CertificateID], [CertificateName], [DateAcquired]) VALUES (2, N'Mental Health Training', CAST(N'2019-11-30T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Certificates] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultants] ON 

INSERT [dbo].[Consultants] ([ConsultantID], [UserID], [CertificateID], [Specialty], [Degree], [Experience], [HourlyRate], [CreatedAt], [UpdatedAt], [GoogleMeetLink]) VALUES (1, 14, 1, N'string', N'string', N'string', CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-07-10T08:29:26.1722325' AS DateTime2), CAST(N'2025-07-10T08:29:26.1724298' AS DateTime2), NULL)
INSERT [dbo].[Consultants] ([ConsultantID], [UserID], [CertificateID], [Specialty], [Degree], [Experience], [HourlyRate], [CreatedAt], [UpdatedAt], [GoogleMeetLink]) VALUES (2, 6, 1, N'10', N'King', N'10', CAST(99999.00 AS Decimal(10, 2)), CAST(N'2025-06-24T08:57:30.8418666' AS DateTime2), CAST(N'2025-06-24T08:57:30.8419054' AS DateTime2), N'https://meet.google.com/yco-awfm-miz')
INSERT [dbo].[Consultants] ([ConsultantID], [UserID], [CertificateID], [Specialty], [Degree], [Experience], [HourlyRate], [CreatedAt], [UpdatedAt], [GoogleMeetLink]) VALUES (3, 7, 1, N'Good', N'Top1', N'10 year ', CAST(8888.00 AS Decimal(10, 2)), CAST(N'2025-06-26T16:18:49.7388089' AS DateTime2), CAST(N'2025-06-26T16:18:49.7388922' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Consultants] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultantSchedules] ON 

INSERT [dbo].[ConsultantSchedules] ([ScheduleID], [ConsultantID], [DayOfWeek], [Date], [StartTime], [EndTime], [IsAvailable], [Notes]) VALUES (1, 1, N'Friday', CAST(N'2025-07-11T00:00:00.0000000' AS DateTime2), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), 1, NULL)
INSERT [dbo].[ConsultantSchedules] ([ScheduleID], [ConsultantID], [DayOfWeek], [Date], [StartTime], [EndTime], [IsAvailable], [Notes]) VALUES (2, 1, N'Friday', CAST(N'2025-07-11T00:00:00.0000000' AS DateTime2), CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), 1, NULL)
INSERT [dbo].[ConsultantSchedules] ([ScheduleID], [ConsultantID], [DayOfWeek], [Date], [StartTime], [EndTime], [IsAvailable], [Notes]) VALUES (3, 1, N'Friday', CAST(N'2025-07-11T00:00:00.0000000' AS DateTime2), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ConsultantSchedules] OFF
GO
INSERT [dbo].[CourseAssessments] ([CourseID], [AssessmentID]) VALUES (1013, 11)
INSERT [dbo].[CourseAssessments] ([CourseID], [AssessmentID]) VALUES (1013, 12)
INSERT [dbo].[CourseAssessments] ([CourseID], [AssessmentID]) VALUES (1013, 13)
GO
INSERT [dbo].[CourseRegistrations] ([UserID], [CourseID], [RegisterTime]) VALUES (3, 1013, CAST(N'2025-06-24T19:08:39.0413467' AS DateTime2))
INSERT [dbo].[CourseRegistrations] ([UserID], [CourseID], [RegisterTime]) VALUES (3, 1022, CAST(N'2025-07-07T15:28:43.2422744' AS DateTime2))
INSERT [dbo].[CourseRegistrations] ([UserID], [CourseID], [RegisterTime]) VALUES (3, 1023, CAST(N'2025-07-09T16:19:22.7276520' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Type], [Status], [AgeMin], [AgeMax], [Capacity], [Price], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1013, N'string', N'string', N'HocSinh   ', N'Open', 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-06-16T07:10:49.0804773' AS DateTime2), CAST(N'2025-06-30T16:21:01.4169694' AS DateTime2), 1)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Type], [Status], [AgeMin], [AgeMax], [Capacity], [Price], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1016, N'string', N'string', N'HocSinh   ', N'Open', 0, 0, 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-06-30T16:39:16.6190055' AS DateTime2), CAST(N'2025-06-30T16:39:16.6190321' AS DateTime2), 1)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [Description], [Type], [Status], [AgeMin], [AgeMax], [Capacity], [Price], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1017, N'string', N'string', N'PhuHuynh  ', N'Open', 26, 200, 0, CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-07-01T05:35:01.8853771' AS DateTime2), CAST(N'2025-07-01T05:35:01.8854025' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseVideos] ON 

INSERT [dbo].[CourseVideos] ([ID], [CourseID], [Title], [VideoUrl], [Description], [Order]) VALUES (1, 1022, N'string', N'https://www.youtube.com/embed/mVymtiLzdDU?si=wOo_M-5EWOKCnwHF', N'string', 1)
SET IDENTITY_INSERT [dbo].[CourseVideos] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID], [RetryCount]) VALUES (1, 5, NULL, 3, CAST(9999.00 AS Decimal(10, 2)), CAST(N'2025-06-24T09:22:11.1919174' AS DateTime2), N'VNPAY', N'PENDING', N'500fbc94-084f-4c46-9484-efc1fb71b105-3', 0)
INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID], [RetryCount]) VALUES (2, 5, NULL, 4, CAST(99999.00 AS Decimal(10, 2)), CAST(N'2025-06-24T09:40:44.6587791' AS DateTime2), N'VNPAY', N'PENDING', N'5f9df9bd-6e33-431f-ba28-5d3c39faa21a-4', 0)
INSERT [dbo].[Payments] ([PaymentID], [UserID], [CourseID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionID], [RetryCount]) VALUES (3, 5, NULL, 5, CAST(99999.00 AS Decimal(10, 2)), CAST(N'2025-06-24T09:46:46.4194767' AS DateTime2), N'VNPAY', N'SUCCESS', N'01609f7c-293c-4f3f-84aa-523d582c0ff7-5', 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [AssessmentID], [IsDeleted]) VALUES (1004, NULL, N'ma túy có lợi đúng không', N'True/False', 7, 1)
INSERT [dbo].[Questions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [AssessmentID], [IsDeleted]) VALUES (1005, NULL, N'ma túy có lợi đúng không', N'True/False', 7, 1)
INSERT [dbo].[Questions] ([QuestionID], [SurveyID], [QuestionText], [QuestionType], [AssessmentID], [IsDeleted]) VALUES (1006, NULL, N'ma túy có lợi đúng không', N'True/False', 7, 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Guest', N'Người dùng chưa đăng nhập')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Member', N'Người dùng đăng kí thành công')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Staff', N'Nhân viên tổ chức')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCourseProgresses] ON 

INSERT [dbo].[UserCourseProgresses] ([ID], [UserID], [CourseID], [IsCompleted], [CompletedAt]) VALUES (1, 3, 1023, 1, CAST(N'2025-07-09T17:07:21.5864941' AS DateTime2))
INSERT [dbo].[UserCourseProgresses] ([ID], [UserID], [CourseID], [IsCompleted], [CompletedAt]) VALUES (2, 13, 1023, 1, CAST(N'2025-07-09T09:29:28.7157279' AS DateTime2))
INSERT [dbo].[UserCourseProgresses] ([ID], [UserID], [CourseID], [IsCompleted], [CompletedAt]) VALUES (3, 13, 1024, 0, NULL)
SET IDENTITY_INSERT [dbo].[UserCourseProgresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [FullName], [DateOfBirth], [Phone], [Address], [Status], [RoleID], [CreatedAt], [UpdatedAt]) VALUES (2, N'admin', N'$2a$11$ORd6pzAfXzC6n4rz7CfUpe0GmSgD/ux1OSYeweYUdUTONPAOgxU2m', N'admin@example.com', N'Administrator', NULL, NULL, NULL, NULL, 6, CAST(N'2025-06-02T05:33:02.2233412' AS DateTime2), CAST(N'2025-06-02T05:33:02.2233412' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [FullName], [DateOfBirth], [Phone], [Address], [Status], [RoleID], [CreatedAt], [UpdatedAt]) VALUES (3, N'hoang', N'$2a$11$SFeB956A7Gv19lAO/JWdg.zd4dP5vhfdAuPXAQz522my8dXNbNwAO', N'hoang@example.com', N'doquochoang', CAST(N'2025-06-02T18:18:45.3210000' AS DateTime2), N'012345678', N'113', N'Active', 2, CAST(N'2025-06-02T18:19:32.7626207' AS DateTime2), CAST(N'2025-06-02T18:19:32.7627795' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [FullName], [DateOfBirth], [Phone], [Address], [Status], [RoleID], [CreatedAt], [UpdatedAt]) VALUES (4, N'admin', N'$2a$11$8mCzd3GRz68wFJKff8IIJuml1MwRV9Fp95VXjEXCaRIWOTVzd5keW', N'admin@example.com', N'Administrator', NULL, NULL, NULL, N'Active', 6, CAST(N'2025-06-24T07:33:16.0896753' AS DateTime2), CAST(N'2025-06-24T07:33:16.0897480' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded', 1, NULL)
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2025-06-25', 1, CAST(N'2025-07-25T01:34:00.427' AS DateTime))
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2025-06-26', 1, CAST(N'2025-07-26T06:49:30.123' AS DateTime))
GO
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:generate-daily-schedules', N'CreatedAt', N'1752135871821', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:generate-daily-schedules', N'Cron', N'0 0 * * *', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:generate-daily-schedules', N'Job', N'{"t":"DrugUsePreventionAPI.Controllers.Data.ScheduleGenerator, DrugUsePreventionAPI","m":"GenerateDailySchedulesAsync","p":["System.DateTime, mscorlib"],"a":["\"2025-07-11T00:00:00Z\""]}', NULL)
GO
SET IDENTITY_INSERT [HangFire].[Job] ON 

INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (1, 3, N'Succeeded', N'{"t":"DrugUsePreventionAPI.Controllers.Data.ScheduleGenerator, DrugUsePreventionAPI","m":"GenerateDailySchedulesAsync","p":["System.DateTime, mscorlib"]}', N'["\"2025-07-11T00:00:00Z\""]', CAST(N'2025-07-11T05:23:48.123' AS DateTime), CAST(N'2025-07-12T05:23:48.920' AS DateTime))
INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (20007, 20021, N'Succeeded', N'{"t":"DrugUsePreventionAPI.Controllers.Data.ScheduleGenerator, DrugUsePreventionAPI","m":"GenerateDailySchedulesAsync","p":["System.DateTime, mscorlib"]}', N'["\"2025-07-10T00:00:00Z\""]', CAST(N'2025-07-10T08:53:22.497' AS DateTime), CAST(N'2025-07-11T08:53:25.243' AS DateTime))
INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (20008, 20024, N'Succeeded', N'{"t":"DrugUsePreventionAPI.Controllers.Data.ScheduleGenerator, DrugUsePreventionAPI","m":"GenerateDailySchedulesAsync","p":["System.DateTime, mscorlib"]}', N'["\"2025-07-11T00:00:00Z\""]', CAST(N'2025-07-11T04:50:07.150' AS DateTime), CAST(N'2025-07-12T04:50:09.410' AS DateTime))
SET IDENTITY_INSERT [HangFire].[Job] OFF
GO
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (1, N'CurrentCulture', N'"en-US"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (1, N'RecurringJobId', N'"generate-daily-schedules"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (1, N'Time', N'1752211428')
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (9)
GO
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'desktop-nggl106:14552:d55ed50e-e063-4d20-8f6d-557391a07534', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2025-07-11T06:42:03.2610338Z"}', CAST(N'2025-07-11T07:16:34.567' AS DateTime))
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'tan:1128:ab6e6414-145c-42d7-a5a6-e97dd530b8ea', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2025-07-11T05:36:34.523733Z"}', CAST(N'2025-07-11T05:52:34.940' AS DateTime))
GO
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1752278400, N'generate-daily-schedules', NULL)
GO
SET IDENTITY_INSERT [HangFire].[State] ON 

INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (1, 1, N'Enqueued', N'Triggered by recurring job scheduler', CAST(N'2025-07-11T05:23:48.143' AS DateTime), N'{"EnqueuedAt":"1752211428136","Queue":"default"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (2, 1, N'Processing', NULL, CAST(N'2025-07-11T05:23:48.287' AS DateTime), N'{"StartedAt":"1752211428194","ServerId":"desktop-nggl106:25528:3fef0b7d-7e5e-45f5-b564-d068722f5b05","WorkerId":"c134fdbc-c496-4630-a7ac-7ab110b9405b"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (3, 1, N'Succeeded', NULL, CAST(N'2025-07-11T05:23:48.917' AS DateTime), N'{"SucceededAt":"1752211428913","PerformanceDuration":"621","Latency":"168"}')
SET IDENTITY_INSERT [HangFire].[State] OFF
GO
ALTER TABLE [dbo].[AnswerOptions]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOptions_Questions_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerOptions] CHECK CONSTRAINT [FK_AnswerOptions_Questions_QuestionID]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Consultants_ConsultantID] FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Consultants] ([ConsultantID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Consultants_ConsultantID]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users_UserID]
GO
ALTER TABLE [dbo].[AssessmentResults]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentResults_Assessments_AssessmentID] FOREIGN KEY([AssessmentID])
REFERENCES [dbo].[Assessments] ([AssessmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssessmentResults] CHECK CONSTRAINT [FK_AssessmentResults_Assessments_AssessmentID]
GO
ALTER TABLE [dbo].[AssessmentResults]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentResults_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[AssessmentResults] CHECK CONSTRAINT [FK_AssessmentResults_Courses_CourseID]
GO
ALTER TABLE [dbo].[AssessmentResults]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentResults_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssessmentResults] CHECK CONSTRAINT [FK_AssessmentResults_Users_UserID]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_Blogs_Users_AuthorID] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_Blogs_Users_AuthorID]
GO
ALTER TABLE [dbo].[ConsultantAppointmentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantAppointmentEvaluations_Appointments_AppointmentID] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantAppointmentEvaluations] CHECK CONSTRAINT [FK_ConsultantAppointmentEvaluations_Appointments_AppointmentID]
GO
ALTER TABLE [dbo].[ConsultantAppointmentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantAppointmentEvaluations_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantAppointmentEvaluations] CHECK CONSTRAINT [FK_ConsultantAppointmentEvaluations_Users_UserID]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_Consultants_Certificates_CertificateID] FOREIGN KEY([CertificateID])
REFERENCES [dbo].[Certificates] ([CertificateID])
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_Consultants_Certificates_CertificateID]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD  CONSTRAINT [FK_Consultants_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Consultants] CHECK CONSTRAINT [FK_Consultants_Users_UserID]
GO
ALTER TABLE [dbo].[ConsultantSchedules]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantSchedules_Consultants_ConsultantID] FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Consultants] ([ConsultantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsultantSchedules] CHECK CONSTRAINT [FK_ConsultantSchedules_Consultants_ConsultantID]
GO
ALTER TABLE [dbo].[CourseAssessments]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssessments_Assessments_AssessmentID] FOREIGN KEY([AssessmentID])
REFERENCES [dbo].[Assessments] ([AssessmentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseAssessments] CHECK CONSTRAINT [FK_CourseAssessments_Assessments_AssessmentID]
GO
ALTER TABLE [dbo].[CourseAssessments]  WITH CHECK ADD  CONSTRAINT [FK_CourseAssessments_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseAssessments] CHECK CONSTRAINT [FK_CourseAssessments_Courses_CourseID]
GO
ALTER TABLE [dbo].[CourseRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_CourseRegistrations_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseRegistrations] CHECK CONSTRAINT [FK_CourseRegistrations_Courses_CourseID]
GO
ALTER TABLE [dbo].[CourseRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_CourseRegistrations_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseRegistrations] CHECK CONSTRAINT [FK_CourseRegistrations_Users_UserID]
GO
ALTER TABLE [dbo].[CourseVideos]  WITH CHECK ADD  CONSTRAINT [FK_CourseVideos_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseVideos] CHECK CONSTRAINT [FK_CourseVideos_Courses_CourseID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Appointments_AppointmentID] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Appointments_AppointmentID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Courses_CourseID]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users_UserID]
GO
ALTER TABLE [dbo].[ProgramParticipations]  WITH CHECK ADD  CONSTRAINT [FK_ProgramParticipations_CommunicationPrograms_ProgramID] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[CommunicationPrograms] ([ProgramID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramParticipations] CHECK CONSTRAINT [FK_ProgramParticipations_CommunicationPrograms_ProgramID]
GO
ALTER TABLE [dbo].[ProgramParticipations]  WITH CHECK ADD  CONSTRAINT [FK_ProgramParticipations_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramParticipations] CHECK CONSTRAINT [FK_ProgramParticipations_Users_UserID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Assessments_AssessmentID] FOREIGN KEY([AssessmentID])
REFERENCES [dbo].[Assessments] ([AssessmentID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Assessments_AssessmentID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Surveys_SurveyID] FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Surveys] ([SurveyID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Surveys_SurveyID]
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD  CONSTRAINT [FK_SurveyResponses_CommunicationPrograms_ProgramID] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[CommunicationPrograms] ([ProgramID])
GO
ALTER TABLE [dbo].[SurveyResponses] CHECK CONSTRAINT [FK_SurveyResponses_CommunicationPrograms_ProgramID]
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD  CONSTRAINT [FK_SurveyResponses_Surveys_SurveyID] FOREIGN KEY([SurveyID])
REFERENCES [dbo].[Surveys] ([SurveyID])
GO
ALTER TABLE [dbo].[SurveyResponses] CHECK CONSTRAINT [FK_SurveyResponses_Surveys_SurveyID]
GO
ALTER TABLE [dbo].[SurveyResponses]  WITH CHECK ADD  CONSTRAINT [FK_SurveyResponses_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SurveyResponses] CHECK CONSTRAINT [FK_SurveyResponses_Users_UserID]
GO
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Surveys_Users_AuthorID] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Surveys] CHECK CONSTRAINT [FK_Surveys_Users_AuthorID]
GO
ALTER TABLE [dbo].[UserCourseProgresses]  WITH CHECK ADD  CONSTRAINT [FK_UserCourseProgresses_Courses_CourseID] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourseProgresses] CHECK CONSTRAINT [FK_UserCourseProgresses_Courses_CourseID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleID]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
